.item {
  width: 1559px;
  display: flex;
  align-items: center;
}

.div {
  margin: 0px 3px;
  width: 90px;
  background-color: #ffffff;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 57px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 14px 4px;
  margin: 0px 3px;
  background-color: #ffffff;
}

.img {
  height: 60px;
}
