.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  margin-bottom: 28px;
  max-width: 340px;
  height: 42px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42;
  color: #333333;
  border: 0px;
  outline: none;
}

.button {
  padding: 20px 15px;
  color: #ffe8d9;
  background-color: #3d2b56;
  border-radius: 8px;
  font-weight: 500;
  border: 0px;
}
