.section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../images/hero12svg-01.svg);
  background-position: 95% 105%;
  background-size: 110%;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-color: #ffe8d9;
}

.div {
  padding: 15px 29px;
  background-color: #fef6f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

.list {
  display: flex;
  padding: 5px;
  list-style: none;
  border-radius: 100px;
  background-color: #fef6f0;
  box-shadow: 0 2px 25px 0 rgb(0 0 0 / 10%);
  background-origin: 100px;
  background-color: #fef6f0;
  height: 39px;
}

.link {
  padding: 9px 30px;
  border-radius: 100px;
  width: 165px;
  border: 0px;
  text-decoration: none;
  background-color: #fef6f0;
  color: #232020;
}

.item {
  padding-top: 10px;
}

.link_active {
  padding: 9px 30px;
  border-radius: 100px;
  width: 165px;
  border: 0px;
  text-decoration: none;
  background-color: #2c6a67;
  color: #ffe8d9;
}

.title {
  margin-bottom: 30px;
}

.link_pass {
  margin-top: 5px;
  border: 0px;
  text-decoration: underline;
  background-color: #fef6f0;
  cursor: pointer;
}
